/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
/* These are some generic design choices for colour schemes, fonts, gutters and gaps */
:root {
  /* Color Schemes */
  --clr-primary: #0d6efd;
  --clr-secondary: #6c757d;
  --clr-accent: #8b1428;

  --clr-dark-grey: rgb(40, 40, 40);
  --clr-dark-grey-75: rgba(40, 40, 40, .75);
  --clr-dark-grey-50: rgba(40, 40, 40, .50);
  --clr-dark-grey-25: rgba(40, 40, 40, .25);
  --clr-dark-grey-10: rgba(40, 40, 40, .10);
  --clr-grey: #808080;
  --clr-light-grey: #D2D2D2;
  --clr-white: #FDFDFD;

  /* FONT */
  --ff-default: 'Roboto', Helvetica, Arial, sans-serif;
  --fw-default: 400;
  --fs-default: 1rem;

  --fs-1: 0.8rem;
  --fs-2: 1rem;
  --fs-3: 1.2rem;
  --fs-4: 1.5rem;
  --fs-5: 1.8rem;
  --fs-6: 2rem;

  /* Spacing */
  --flow-spacing: 1em;

  --spacing-1: 0.3rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.8rem;
  --spacing-4: 1rem;
  --spacing-5: 1.3rem;
  --spacing-6: 1.8rem;
  --spacing-7: 2.2rem;
  --spacing-8: 3rem;

  /* --sm-breakpoint: 576px;
  --md-breakpoint: 768px;
  --lg-breakpoint: 992px;
  --xl-breakpoint: 1200px;
  --xxl-breakpoint: 1400px; */
}

body {
  font: var(--fw-default) var(--fs-default) var(--ff-default);
  color: var(--clr-dark-grey);
  height: 100vh;
}

.test {
  background: red;
}
/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */
.header {
  /* background-color: var(--clr-light-grey); */
  box-shadow: 1px 1px 4px 0 var(--clr-dark-grey-25);
  margin-bottom: var(--spacing-2);
}

.header-title {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  overflow: hidden;
  display: flex;
  gap: 2rem;
  /* Improve hiding code */
  /* display: none;  */
}

.nav-list.show {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  display: block;
  position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--clr-secondary);
    text-align: end;
    width: 70%;
    padding: var(--fs-3);
}

.hero-section {
  /* background: red; */
  /* padding: var(--spacing-4); */
  position: relative;
  background-image: url("../img/placeholders/Large\ Banner\ Horizontal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.hero-title {
  position: relative;
  background-color: var(--clr-white);
  padding: var(--spacing-3);
  border-radius: 0px 0px 15px 0px;
  width: fit-content;
}

.hero-info {
  position: absolute;
    bottom: 0;
    right: 0;
  background-color: var(--clr-white); 
  padding: var(--spacing-2);
  border-radius: 15px 0px 0px 0px;
  width: fit-content;
  max-width: 15%;
}

.hero-bg-container {
  padding: var(--spacing-4);
}

.hero-button {
  background-color: var(--clr-white); 
  padding: var(--spacing-2);
  width: fit-content;
}

.hero-button-1 {
  position: absolute;
    top: 0;
    right: 0;
  border-radius: 0 0 0 15px;
}

.hero-button-2 {
  position: absolute;
    bottom: 0;
    left: 0;
  border-radius: 0 15px 0 0;
}

.padded-body {
  padding: var(--spacing-6);
}

.about-us-call-img-container {
  width: 50%;
  height: 10rem;
  /* margin-right: var(--spacing-4); */
  border-radius: 15px;
  /* background: red; */
}

.container-img {
  object-fit: cover;
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.claims-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: var(--spacing-4); 
  text-align: center;/* Optional: Center-aligns the text within each column */
}

.learn-more-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.learn-more-img-container {
  height: min(50vw, 35rem);
  border-radius: 15px;
}

.sales-title {
  text-align: center;
}

.sales-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-4);
}

.product-card {
  border-radius: 15px;
}

.product-img-container {
  border-radius: inherit;
}

.pointer-btn-containers > button {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/*#region FLEX */
.flex {
  display: flex;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.v-flex-inverse {
  flex-direction: column-reverse;
}

.j-spacebetween {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}
/*#endregion FLEX */

/*#region Sizes  */
.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}
/*#endregion Sizes  */


/*#region SPACING */
.g-1 {
  gap: var(--spacing-1);
}

.g-2 {
  gap: var(--spacing-2);
}

.g-3 {
  gap: var(--spacing-3);
}

.g-4 {
  gap: var(--spacing-4);
}

.g-5 {
  gap: var(--spacing-5);
}

.g-6 {
  gap: var(--spacing-6);
}

.g-7 {
  gap: var(--spacing-7);
}

.g-8 {
  gap: var(--spacing-8);
}

.p-1 {
  padding: var(--spacing-1);
}

.p-2 {
  padding: var(--spacing-2);
}

.p-3 {
  padding: var(--spacing-3);
}

.p-4 {
  padding: var(--spacing-4);
}

.p-5 {
  padding: var(--spacing-5);
}

.px-1 {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}

.px-2 {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}

.px-3 {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.px-4 {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.px-5 {
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
}

.py-1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.py-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

.py-3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

.py-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.py-5 {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}
/*#endregion SPACING */

/*#region Font */
.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}

.fs-3 {
  font-size: var(--fs-3);
}

.fs-4 {
  font-size: var(--fs-4);
}

.fs-5 {
  font-size: var(--fs-5);
}

.fs-6 {
  font-size: var(--fs-6);
}
/*#endregion Font */



/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
/* @media only screen and (max-width: 1000px) {

} */
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */