@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
/* These are some generic design choices for colour schemes, fonts, gutters and gaps */
:root {
  /* Color Schemes */
  --clr-1: rgb(202, 149, 96);
  --clr-2: rgb(250, 237, 205);
  --clr-3: rgb(254, 250, 224);
  --clr-4: rgb(233, 237, 201);
  --clr-5: rgb(204, 213, 174);

  --clr-dark-grey: rgb(40, 40, 40);
  --clr-dark-grey-75: rgba(40, 40, 40, .75);
  --clr-dark-grey-50: rgba(40, 40, 40, .50);
  --clr-dark-grey-25: rgba(40, 40, 40, .25);
  --clr-dark-grey-10: rgba(40, 40, 40, .10);
  --clr-grey: #808080;
  --clr-light-grey: #D2D2D2;
  --clr-white: #FDFDFD;
  --clr-3-light: rgb(255, 253, 241);
  --clr-4-light: rgb(239, 241, 218);

  /* FONT */
  --ff-title: 'Merriweather', serif;
  --ff-default: "Plus Jakarta Sans", Helvetica, Arial, sans-serif;
  --fw-default: 400;
  --fs-default: 1rem;

  --fs-1: 0.9rem;
  --fs-2: 1rem;
  --fs-3: 1.2rem;
  --fs-4: 1.5rem;
  --fs-5: 1.8rem;
  --fs-6: 2rem;

  /* Spacing */
  --flow-spacing: 1em;

  --spacing-1: 0.3rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.8rem;
  --spacing-4: 1rem;
  --spacing-5: 1.3rem;
  --spacing-6: 1.8rem;
  --spacing-7: 2.2rem;
  --spacing-8: 3rem;
  --spacing-9: 4rem;
  --spacing-10: 6rem;
  --spacing-11: 8rem;
  --spacing-12: 12rem;

  /* --sm-breakpoint: 576px;
  --md-breakpoint: 768px;
  --lg-breakpoint: 992px;
  --xl-breakpoint: 1200px;
  --xxl-breakpoint: 1400px; */
}

html {
  scroll-padding-top: 50px;
}

body {
  font: var(--fw-default) var(--fs-default) var(--ff-default);
  color: var(--clr-dark-grey);
  min-height: 100vh;
  background-color: var(--clr-3-light);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.test {
  background: red;
}
/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */
.header {
  /* background-color: var(--clr-light-grey); */
  box-shadow: 1px 1px 4px 0 var(--clr-dark-grey-25);
  margin-bottom: var(--spacing-2);
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: var(--clr-3-light);
}

.header-img-container {
  width: 2rem;
}

.company-title {
  transition: color 250ms ease-in;
}

.company-title:hover {
  color: var(--clr-1);
}

.company-title {
  text-decoration: none;
  color: inherit;
  font-family: var(--ff-title);
}

.nav-list {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* Improve hiding code */
  /* display: none;  */
}

.nav-list.show {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  display: block;
  position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--clr-secondary);
    text-align: end;
    width: 70%;
    padding: var(--fs-3);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  background: var(--clr-5);
  position: absolute;
    bottom: -0.1rem;
    left: 0;
  width: 100%;
  border-radius: 6px;
  height: 2px;

  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 250ms ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero-section {
  /* background: red; */
  /* padding: var(--spacing-4); */
  position: relative;
  background-image: url("../img/pexels-emrecan-2079246.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: max(50vh, 25rem);
}

.hero-text {
  background-color: var(--clr-3-light);
  width: fit-content;
}

.hero-title {
  position: relative;
  border-radius: 0px 0px 15px 0px;
}

.hero-info {
  position: absolute;
    bottom: 0;
    right: 0;
  border-radius: 15px 0px 0px 0px;
  max-width: max(15%, 15rem);
}

.hero-bg-container {
  padding: var(--spacing-4);
}

.hero-btn-container {
  /* padding: var(--spacing-2);
  width: fit-content; */

  transition: transform 300ms ease-in-out;
}

.hero-btn-container:hover {
  transform: scale(1.1);
}

.hero-btn-container-1 {
  position: absolute;
    top: 0;
    right: 0;
  border-radius: 0 0 0 15px;
}

.hero-btn-container-2 {
  position: absolute;
    bottom: 0;
    left: 0;
  border-radius: 0 15px 0 0;
}

.generic-btn {
  width: fit-content;
  border: 2px solid var(--clr-1);
  padding: var(--spacing-3);
  border-radius: calc(100vw);
  transition: transform 200ms ease-in,
    background-color 150ms ease-in;
}

.generic-btn:hover {
  border: 2px solid var(--clr-5);
  background-color: var(--clr-4);
}

.padded-body {
  padding-left: var(--spacing-10);
  padding-right: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}

.about-us-call-img-container {
  width: 50%;
  height: 10rem;
  /* margin-right: var(--spacing-4); */
  border-radius: 15px;
  /* background: red; */
  transition: transform 200ms,
    border-radius 500ms;
}

.about-us-call-img-container:hover {
  overflow: visible;
  border-radius: 5px;
  transform: scale(1.1);
}

.container-img {
  object-fit: cover;
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.claims-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: var(--spacing-4); 
  text-align: center;/* Optional: Center-aligns the text within each column */
}

.learn-more-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.learn-more-img-container {
  height: min(50vw, 35rem);
  border-radius: 15px;
}

.learn-more-img {
  object-position: bottom;
}

.sales-title {
  text-align: center;
}

.sales-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-4);
  row-gap: var(--spacing-7);
}

.product-card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.product-img-container {
  border-radius: inherit;
  margin-bottom: var(--spacing-5);
  height: 20rem;
}

.product-card-btn {
  position: relative;
  color: var(--clr-1);
  width: fit-content;
}

.product-card-btn::after {
  content: '';
  position: absolute;
    bottom: -0.3rem;
    left: 0; 
  width: 100%;
  border-radius: 6px;
  height: 2px;
  background-color: var(--clr-1);

  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 250ms ease-out;
}

.product-card-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000; /* fallback for transparent iframe */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.closing-section {
  position: relative;
  background-image: url("../img/pexels-valeriya-1129413.webp");
  background-position: right 0 bottom 45%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  height: max(50vh, 30rem);
  color: var(--clr-3);
}

.closing-container {
  position: absolute;
    right: 0;
  
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  justify-content: end;
  padding: 2rem;
  max-height: 100%;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: var(--spacing-3);
}

details {
  margin-bottom: var(--spacing-2);
  border: 1px solid var(--clr-5);
  border-radius: 5px;
  padding: var(--spacing-2);
  background-color: transparent;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details[open] {
  background-color: var(--clr-4-light);
}

.contact-field {
  width: 100%;
  padding: var(--spacing-2) var(--spacing-4);
  background-color: transparent;
  outline: none;
  border: solid 2px var(--clr-4);
}

.contact-field:hover {
  border-color: var(--clr-5);
}

.contact-field:focus {
  background-color: var(--clr-4-light);
}

.contact-input{
  border-bottom: none;
}

.contact-submit {
  border-top: none;
}

.footer-banner {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: var(--spacing-9);
}

.footer-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-6);
}

/*#region Util */
.pointer-btn-containers > button {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.inverted-border-radius::before {
  content: "";
  position: absolute;
  background-color: transparent;
}

.inverted-border-radius-top-left::before {
  top: -50px;
  right: 0;
  height: 50px;
  width: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: -25px 0 0 0 var(--clr-3-light);
  background-color: red;
}

.inverted-border-radius-top-right::before {
  border-bottom-right-radius: 15px;
  box-shadow: 0 -25px 0 0 red;
}

.inverted-border-radius-bottom-right::before {
  bottom: -50px;
  right: 0;
  height: 50px;
  width: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -25px 0 0 var(--clr-3-light);
}

.inverted-border-radius-bottom-left::before {
  bottom: -50px;
  height: 50px;
  width: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 -25px 0 0 var(--clr-3-light);
}
/*#endregion Util */


/*#region FLEX */
.flex {
  display: flex;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.v-flex-inverse {
  flex-direction: column-reverse;
}

.j-spacebetween {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}
/*#endregion FLEX */

/*#region Alignment */
.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}
/*#endregion Alignment */

/*#region Sizes  */
.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}
/*#endregion Sizes  */


/*#region SPACING */
.g-1 {
  gap: var(--spacing-1);
}

.g-2 {
  gap: var(--spacing-2);
}

.g-3 {
  gap: var(--spacing-3);
}

.g-4 {
  gap: var(--spacing-4);
}

.g-5 {
  gap: var(--spacing-5);
}

.g-6 {
  gap: var(--spacing-6);
}

.g-7 {
  gap: var(--spacing-7);
}

.g-8 {
  gap: var(--spacing-8);
}

.m-1 {
  margin: var(--spacing-1);
}

.m-2 {
  margin: var(--spacing-2);
}

.m-3 {
  margin: var(--spacing-3);
}

.m-4 {
  margin: var(--spacing-4);
}

.m-5 {
  margin: var(--spacing-5);
}

.mx-1 {
  margin-left: var(--spacing-1);
  margin-right: var(--spacing-1);
}

.mx-2 {
  margin-left: var(--spacing-2);
  margin-right: var(--spacing-2);
}

.mx-3 {
  margin-left: var(--spacing-3);
  margin-right: var(--spacing-3);
}

.mx-4 {
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
}

.mx-5 {
  margin-left: var(--spacing-5);
  margin-right: var(--spacing-5);
}

.mx-6 {
  margin-left: var(--spacing-6);
  margin-right: var(--spacing-6);
}

.mx-7 {
  margin-left: var(--spacing-7);
  margin-right: var(--spacing-7);
}

.mx-8 {
  margin-left: var(--spacing-8);
  margin-right: var(--spacing-8);
}

.mx-9 {
  margin-left: var(--spacing-9);
  margin-right: var(--spacing-9);
}

.mx-10 {
  margin-left: var(--spacing-10);
  margin-right: var(--spacing-10);
}

.mx-11 {
  margin-left: var(--spacing-11);
  margin-right: var(--spacing-11);
}

.mx-12 {
  margin-left: var(--spacing-12);
  margin-right: var(--spacing-12);
}

.my-1 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}

.my-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

.my-3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}

.my-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.my-5 {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}

.my-6 {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}

.my-7 {
  margin-top: var(--spacing-7);
  margin-bottom: var(--spacing-7);
}

.my-8 {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.my-9 {
  margin-top: var(--spacing-9);
  margin-bottom: var(--spacing-9);
}

.my-10 {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}

.my-11 {
  margin-top: var(--spacing-11);
  margin-bottom: var(--spacing-11);
}

.my-12 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-12);
}

.p-1 {
  padding: var(--spacing-1);
}

.p-2 {
  padding: var(--spacing-2);
}

.p-3 {
  padding: var(--spacing-3);
}

.p-4 {
  padding: var(--spacing-4);
}

.p-5 {
  padding: var(--spacing-5);
}

.p-6 {
  padding: var(--spacing-6);
}

.p-7 {
  padding: var(--spacing-7);
}

.p-8 {
  padding: var(--spacing-8);
}

.p-9 {
  padding: var(--spacing-9);
}

.p-10 {
  padding: var(--spacing-10);
}

.p-11 {
  padding: var(--spacing-11);
}

.p-12 {
  padding: var(--spacing-12);
}

.px-1 {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}

.px-2 {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}

.px-3 {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.px-4 {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.px-5 {
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
}

.px-6 {
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}

.px-7 {
  padding-left: var(--spacing-7);
  padding-right: var(--spacing-7);
}

.px-8 {
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}

.px-9 {
  padding-left: var(--spacing-9);
  padding-right: var(--spacing-9);
}

.px-10 {
  padding-left: var(--spacing-10);
  padding-right: var(--spacing-10);
}

.px-11 {
  padding-left: var(--spacing-11);
  padding-right: var(--spacing-11);
}

.px-12 {
  padding-left: var(--spacing-12);
  padding-right: var(--spacing-12);
}

.py-1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.py-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

.py-3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

.py-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.py-5 {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}

.py-6 {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}

.py-7 {
  padding-top: var(--spacing-7);
  padding-bottom: var(--spacing-7);
}

.py-8 {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}

.py-9 {
  padding-top: var(--spacing-9);
  padding-bottom: var(--spacing-9);
}

.py-10 {
  padding-top: var(--spacing-10);
  padding-bottom: var(--spacing-10);
}

.py-11 {
  padding-top: var(--spacing-11);
  padding-bottom: var(--spacing-11);
}

.py-12 {
  padding-top: var(--spacing-12);
  padding-bottom: var(--spacing-12);
}
/*#endregion SPACING */

/*#region Font */
.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}

.fs-3 {
  font-size: var(--fs-3);
}

.fs-4 {
  font-size: var(--fs-4);
}

.fs-5 {
  font-size: var(--fs-5);
}

.fs-6 {
  font-size: var(--fs-6);
}
/*#endregion Font */



/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
@media only screen and (max-width: 700px) {
  .hero-info {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  .padded-body {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
  }

  .cta-container {
    flex-direction: column;
  }

  .about-us-call-img-container {
    width: 100%;
  }

  .hero-btn-container-1 {
    top: 30%;
    border-radius: 15px 0 0 15px;
  }

  .sales-container {
    grid-template-columns: 1fr;
  }
}
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */